


  .nav {
    background: #2A2C43 ;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    
   
}
 
.nav li {
    float: left;
    list-style-type: none;

}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-right: 1px solid #fff;
    font-family: sans-serif;

   
    

}
.nav li a:hover {
    background-color: #f7ca18;
}
label {
    padding: 12px 12px 12px 0;
    margin-left: 15%;
    margin-bottom: 5%;


  
  }
  form{
      margin-left: 15%;
  }

  input ,textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:inline-start;
 

  }
 
  
  input[type=submit] {  
    width: 75%;
    background-color: #f7ca18;
    color: black;
    font-weight: bold;
    font-size: larger;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #c4ac4f;
  }
  /*Stle of css for AddProgramm*/
  #programms {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  ​
  #programms td,   #programms th {
    padding: 8px;
    border: 1px solid #eee;
    background-color: #f7ca18 ;
  }
  /*الترويسة*/
  #programms th {
    border: 1px solid #eee;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    font-weight: bolder;
  }
  #programms td , td{
      padding: 20px;
  }
  #programms a{
    text-decoration: none;
    color: #000 ;
    font-size: larger;
}

  #programms tr:nth-child(even){background-color: #f2f2f2; }
​
   #programms tr:hover {background-color: #ddd; }
   
   .add_proramm_btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #f7ca18;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #000;
    margin-bottom: 20px;
  }
  table img {
    width: 15%;
    height: 15%;
  }
  
  ​

